@model TwitterClone.ASP.Models.User
@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script src="~/js/GetPostForUserAsync.js"></script>
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model != null)
    {
        <div class="user-name">@ViewBag.nameUser</div>

        <p>@User.Identity.Name</p>

        <div class="enter-post-text">
            <form method="post" class="form-horizontal" asp-controller="Home" asp-action="AddPost">
                <input type="hidden" value="@ViewBag.IdUser" name="IdUser" id="IdUser" />
                <div class="form-group">
                    <label for="TextPost" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <textarea name="TextPost" class="form-text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Твитнуть" />
                    </div>
                </div>
            </form>
        </div>
        <div class="posts">
            <span>Posts for user:</span>
            <span>
                @if (ViewBag.nameuser == null)
                {
                    @User.Identity.Name
                }
                else
                {
                    @ViewBag.nameUser
                }
            </span>
            <div id="posts-body"></div>
        </div>

    }
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" class="btn btn-default" value="Logout" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Enter</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}