@model TwitterClone.ASP.Models.User

@section scripts{
    <script src="~/js/User.js"></script>
    <script src="~/js/GetUserPostsAsync.js"></script>
}

<div class="user-div">
    <span id="nameUser"> Name User </span>
    <p> @ViewBag.UserName </p>

    @if (ViewBag.My)
    {
        <a class="nav-link" asp-controller="User" asp-action="Edit" asp-route-id="@ViewBag.Id">Edit Profile</a>
    }
    else
    {
        <div class="form_container">
            <form id="form" method="post">
                <input type="hidden" name="folowerId" value="@ViewBag.IdUser">
                <input type="hidden" name="folowedId" value="@ViewBag.Id">
                <input type="button" name="subscribe" value="@ViewBag.Subscribe" id="btn-subscribe">
            </form>
        </div>
    }
    <input type="hidden" value="@ViewBag.Id" id="Id">
    <div class="posts" id="posts">
        <div id="posts-body"></div>
    </div>
</div>

